apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.fullname }}-config
  labels:
    app.kubernetes.io/name: {{ .Values.name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
data:
  config.yaml: |
    poolId: {{ .Values.config.poolId | quote }}
    ticker: {{ .Values.config.ticker | quote }}
    poolName: {{ .Values.config.poolName | quote }}
    nodeAddress:
      host1: {{ .Values.config.nodeAddress.host1 | quote }}
      {{- if .Values.config.nodeAddress.host2 }}
      host2: {{ .Values.config.nodeAddress.host2 | quote }}
      {{- end }}
    networkMagic: {{ .Values.config.networkMagic | int }}
    telegram:
      channel: {{ .Values.config.telegram.channel | quote }}
    twitter:
      api_version: "v2"
    {{- if .Values.config.leaderlog.enabled }}
    leaderlog:
      enabled: true
      vrfKeyPath: {{ .Values.config.leaderlog.vrfKeyPath | quote }}
      timezone: {{ .Values.config.leaderlog.timezone | quote }}
    database:
      host: {{ .Values.config.database.host | quote }}
      port: {{ .Values.config.database.port | int }}
      name: {{ .Values.config.database.name | quote }}
      user: {{ .Values.config.database.user | quote }}
    {{- end }}
